<ul>
    <li class="custom-li">
        <button type="button" mat-raised-button routerLink="counter-example">
            <mat-icon class="material-symbols-outlined">counter_1</mat-icon>
            <span>Counter Example</span>
        </button>
    </li>
    <li class="custom-li">
        <button type="button" mat-raised-button routerLink="book-list-example">
            <mat-icon class="material-symbols-outlined">import_contacts</mat-icon>
            <span>Book list Example</span>
        </button>
    </li>
</ul>