.errors {
    padding: 16px;
    color: #fff;
    background-color: darkred;
    border-radius: 5px;
    width: 25%;
}

.row {
    width: 100%;
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 6px;
}

.numbers {
    padding-left: 32px;
}